@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sora:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 57.5%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 52.5%;
  }
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", "Open Sans", sans-serif;
}

.section-heading {
  font-size: 5rem;
  color: #153633;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .section-heading {
    font-size: 3.2rem;
  }
}

.main-paragraph {
  font-size: 1.8rem;
  text-align: center;
  max-width: 80%;
  margin-bottom: 5.5rem;
}

.button {
  background-color: #153633;
  color: #fff;
  font-size: 3rem;
  border: none;
  padding: 2rem 8rem;
  border-radius: 3.8rem;
  text-decoration: none;
  text-align: center;
}

.button-card {
  border-radius: 0rem;
}

.button-contact {
  padding: 2rem 12rem;
  margin-top: 2rem;
}

.button:hover {
  background-color: #3a4540;
  color: #bec3c0;
}

.card {
  background-color: #fff;
  max-width: 50rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  .card {
    max-width: 45rem;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    max-width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    max-width: 30rem;
  }
}

.card-two {
  width: 100%;
}

.card-two__left {
  margin-right: 3rem;
}

@media only screen and (max-width: 1400px) {
  .card-two__left {
    margin: 3rem 0;
  }
}

.card-two__right {
  margin-left: 3rem;
}

@media only screen and (max-width: 1400px) {
  .card-two__right {
    margin: 3rem 0;
  }
}

.card-middle {
  margin: 0 4rem;
}

@media only screen and (max-width: 1400px) {
  .card-middle {
    margin: 4rem 0;
  }
}

.card-heading {
  color: #153633;
  font-size: 3rem;
  padding: 2.5rem 0 2.5rem 0;
  background-color: #85c9ab;
  width: 100%;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 0.1rem solid #3a4540;
}

.card-paragraph {
  font-size: 2rem;
  margin: 4rem 1rem 4rem 1rem;
  text-align: center;
}

.attractions-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1400px) {
  .attractions-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.attractions-section__bottom {
  margin-bottom: 10rem;
}

.attractions-wrapper {
  max-width: 30%;
  margin-top: 5rem;
  background-color: #bec3c0;
}

@media only screen and (max-width: 1400px) {
  .attractions-wrapper {
    max-width: 70%;
  }
}

.attractions-wrapper__middle {
  margin-left: 2rem;
  margin-right: 2rem;
}

.attractions-image {
  width: 100%;
}

.attractions-content {
  padding: 4rem 3rem;
}

.attractions-heading {
  color: #153633;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.attractions-paragraph {
  font-size: 1.8rem;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: #27594a;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .header-menu {
    display: none;
  }
}

.header-menu:last-child {
  margin-right: 7rem;
}

.header-menu__hamburger {
  position: absolute;
  top: 3.5rem;
  right: 4rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6rem;
  height: 3.5rem;
}

@media only screen and (max-width: 900px) {
  .header-menu__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-menu__hamburger .bar {
  height: 0.3rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
}

.mobile-menu {
  background-color: #153633;
  width: 28rem;
  height: 30rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 9.75rem;
  right: 0;
}

.mobile-menu__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.header-menu {
  list-style-type: none;
  border-bottom: none;
}

ul.mobile-menu {
  list-style: none;
}

.header-menu li > a {
  text-decoration: none;
  font-size: 2rem;
  padding: 3.7rem 2.5rem;
  color: #fff;
}

.header-menu li > a:hover {
  color: #85c9ab;
  background-color: #3a4540;
  padding: 3.7rem 2.5rem;
}

.mobile-menu li > a {
  text-decoration: none;
  font-size: 2rem;
  width: 100%;
  color: #fff;
}

.mobile-menu li > a:hover {
  color: #85c9ab;
  background-color: #3a4540;
  padding: 2.4rem 5.5rem;
}

.header-logo__wrapper {
  padding: 0.5rem 4.5rem 0 4.5rem;
  background-color: #85c9ab;
}

.logo {
  width: 9rem;
  height: 9rem;
}

.current {
  color: #85c9ab;
  background-color: #153633;
  padding: 3.7rem 2.5rem;
}

.current-mobile {
  background-color: #85c9ab;
  padding: 2.4rem 5.5rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  margin-bottom: 8rem;
}

.contact-button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  margin-bottom: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: 0.1rem solid #153633;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.8rem;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3a4540;
  height: 6rem;
}

.footer-paragraph {
  color: #fff;
  font-size: 1.8rem;
}

.footer-link {
  text-decoration: none;
  color: #85c9ab;
}

.footer-link:hover {
  color: #27594a;
}

.hero {
  background-image: url(images/lofoten-norway.jpg);
  background-size: cover;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-heading {
  color: #85c9ab;
  font-size: 7rem;
  line-height: 1.1;
}

.hero-heading__bold {
  color: #85c9ab;
  font-size: 9rem;
  line-height: 1.1;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 1400px) {
  .image-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-image {
  width: 30%;
}

@media only screen and (max-width: 1400px) {
  .main-image {
    width: 80%;
  }
}

.main-image__middle {
  margin: 0 4rem;
}

@media only screen and (max-width: 1400px) {
  .main-image__middle {
    margin: 4rem 0;
  }
}

.main-about {
  background-color: #27594a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12rem 0;
}

@media only screen and (max-width: 1400px) {
  .main-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12rem;
}
/*# sourceMappingURL=main.css.map */