.card {
  background-color: #fff;
  max-width: 50rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  @include responsive(tab-land) {
    max-width: 45rem;
  }

  @include responsive(phone) {
    max-width: 40rem;
  }

  @include responsive(small-phone) {
    max-width: 30rem;
  }

  &-two {
    width: 100%;

    &__left {
      margin-right: 3rem;

      @include responsive(tab-land) {
        margin: 3rem 0;
      }
    }

    &__right {
      margin-left: 3rem;

      @include responsive(tab-land) {
        margin: 3rem 0;
      }
    }
  }

  &-middle {
    margin: 0 4rem;

    @include responsive(tab-land) {
      margin: 4rem 0;
    }
  }

  &-heading {
    color: $dark-blue-grey;
    font-size: 3rem;
    padding: 2.5rem 0 2.5rem 0;
    background-color: $light-green;
    width: 100%;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 0.1rem solid $dark-grey;
  }

  &-paragraph {
    font-size: 2rem;
    margin: 4rem 1rem 4rem 1rem;
    text-align: center;
  }
}

.attractions {
  &-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include responsive(tab-land) {
      flex-direction: column;
      align-items: center;
    }

    &__bottom {
      margin-bottom: 10rem;
    }
  }

  &-wrapper {
    max-width: 30%;
    margin-top: 5rem;
    background-color: $light-grey;

    @include responsive(tab-land) {
      max-width: 70%;
    }

    &__middle {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  &-image {
    width: 100%;
  }

  &-content {
    padding: 4rem 3rem;
  }

  &-heading {
    color: $dark-blue-grey;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &-paragraph {
    font-size: 1.8rem;
  }
}
