.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: $dark-green;
}

.header-menu {
  display: flex;
  flex-direction: row;

  &:last-child {
    margin-right: 7rem;
  }
}

ul.header-menu {
  list-style-type: none;
  border-bottom: none;
}

li > a {
  text-decoration: none;
  font-size: 2rem;
  padding: 3.7rem 2.5rem;
  color: #fff;

  &:hover {
    color: $light-green;
    background-color: $dark-grey;
    padding: 3.7rem 2.5rem;
  }

  &:active {
    color: $light-green;
  }
}

.header-logo__wrapper {
  padding: 0.5rem 4.5rem 0 4.5rem;
  background-color: $light-green;
}

header {
  position: sticky;
  top: 0;
}

.logo {
  width: 9rem;
  height: 9rem;
}

.current {
  color: $light-green;
  background-color: $dark-blue-grey;
  padding: 3.7rem 2.5rem;
}
