.hero {
  background-image: url(images/lofoten-norway.jpg);
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-second {
    background-image: url(images/trolls-tongue-norway.jpg);
    height: 70vh;
  }

  &-heading {
    color: $light-green;
    font-size: 7rem;
    line-height: 1.1;

    &__bold {
      color: $light-green;
      font-size: 9rem;
      line-height: 1.1;
    }
  }
}
