.hero {
  background-image: url(images/lofoten-norway.jpg);
  background-size: cover;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-heading {
    color: $light-green;
    font-size: 7rem;
    line-height: 1.1;

    @include responsive(small-phone) {
      font-size: 5rem;
    }

    &__bold {
      color: $light-green;
      font-size: 9rem;
      line-height: 1.1;

      @include responsive(small-phone) {
        font-size: 7rem;
      }
    }
  }
}
