.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;

  @include responsive(tab-land) {
    flex-direction: column;
    align-items: center;
  }
}

.main {
  &-image {
    width: 30%;

    @include responsive(tab-land) {
      width: 80%;
    }

    &__middle {
      margin: 0 4rem;

      @include responsive(tab-land) {
        margin: 4rem 0;
      }
    }
  }

  &-about {
    background-color: $dark-green;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 12rem 0;

    @include responsive(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12rem;
}
